
@import url('https://fonts.cdnfonts.com/css/k2d');
@import url('https://fonts.cdnfonts.com/css/inter');


* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 48px;
    padding: 16px 32px;
    background-color: #0062CC;
    color: white;
}

nav .left {
    height: auto;
}

nav .left a {
    color: white;
    font-weight: bolder;
}

nav .right {
display: flex;
gap: 1rem;
}

.navButton {
    color: #0062CC;
    background: white;
    border-radius: 8px;
    padding: 8px 16px;
    border: none;
}
